NET "pclk" LOC= "P9";
NET "rst_n" LOC = "P74";

NET "addr<0>" LOC = "P72";
NET "addr<1>" LOC = "P75";
NET "addr<2>" LOC = "P70";
NET "addr<3>" LOC = "P71";
NET "addr<4>" LOC = "P69";
NET "addr<5>" LOC = "P67";
NET "addr<6>" LOC = "P68";
NET "addr<7>" LOC = "P65";
NET "addr<8>" LOC = "P66";
NET "addr<9>" LOC = "P62";
NET "addr<10>" LOC = "P63";
NET "addr<11>" LOC = "P58";
NET "addr<12>" LOC = "P57";
NET "addr<13>" LOC = "P61";

NET "data<0>" LOC = "P51";
NET "data<1>" LOC = "P48";
NET "data<2>" LOC = "P46";
NET "data<3>" LOC = "P45";
NET "data<4>" LOC = "P47";
NET "data<5>" LOC = "P50";
NET "data<6>" LOC = "P52";
NET "data<7>" LOC = "P53";

NET "cs_n" LOC = "P80";
NET "wr_n" LOC = "P79";
NET "rd_n" LOC = "P77";

NET "irq_n" LOC = "P44";
NET "irqack_n" LOC = "P43";

NET "scroll<0>" LOC = "P35";
NET "scroll<1>" LOC = "P36";
NET "scroll<2>" LOC = "P37";
NET "scroll<3>" LOC = "P39";
NET "scroll<4>" LOC = "P40";
NET "scroll<5>" LOC = "P41";

NET "vaddr<0>" LOC = "P31";
NET "vaddr<1>" LOC = "P26";
NET "vaddr<2>" LOC = "P25";
NET "vaddr<3>" LOC = "P24";
NET "vaddr<4>" LOC = "P23";
NET "vaddr<5>" LOC = "P21";
NET "vaddr<6>" LOC = "P20";
NET "vaddr<7>" LOC = "P19";
NET "vaddr<8>" LOC = "P14";
NET "vaddr<9>" LOC = "P13";
NET "vaddr<10>" LOC = "P6";
NET "vaddr<11>" LOC = "P11";
NET "vaddr<12>" LOC = "P18";
NET "vaddr<13>" LOC = "P15";

NET "vdata<0>" LOC = "P32";
NET "vdata<1>" LOC = "P34";
NET "vdata<2>" LOC = "P33";
NET "vdata<3>" LOC = "P1";
NET "vdata<4>" LOC = "P2";
NET "vdata<5>" LOC = "P3";
NET "vdata<6>" LOC = "P4";
NET "vdata<7>" LOC = "P5";

NET "vwr_n" LOC = "P17";
NET "vrd_n" LOC = "P7";

NET "blank" LOC = "P76";
NET "hsync_n" LOC = "P81";
NET "vsync_n" LOC = "P82";
NET "shload_n" LOC = "P12";
NET "pload_n" LOC = "P83";
NET "cload_n" LOC = "P84";

NET "crow<0>" LOC = "P56";
NET "crow<1>" LOC = "P55";
NET "crow<2>" LOC = "P54";
